* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/valentines.avif);
}
.single-column {
    margin: auto;
    width: 600px;
    text-align: center;
    display: block;
}
.img {
    width: 550px;
    display: block;
    margin: 20px;
}
.button {
    border: 4px solid rgb(255, 0, 0);
    padding: 10px 40px;
    background-color: rgb(245, 108, 136);
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    margin-top: 50px ;
    text-align: center;
}