* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#container {
    background-color: darkgray;
    width: 500px;
    min-height: 100vh;
    font-size: 0px; 
}
.block_ {
    width: 50px;
    height: 50px;
    display: inline-block;
}
.blue {
    background-color: blue;
    border: 10px ridge skyblue;
}
.yellow {
    background-color: yellow;
    border: 10px ridge yellow;
}
.green {
    background-color: green;
    border: 10px ridge greenyellow;
}
.red {
    background-color: red;
    border: 10px ridge red;
}
.pink {
    background-color: pink;
    border: 10px ridge palevioletred;
}
.orange {
    background-color: orange;
    border: 10px ridge orangered;
}
.block {
    background-color: transparent;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.div2 {
    width: 500px;
    font-size: 0px; 
    margin: 50px;
}

