* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    width: 800px;
}
#morning {
    background-color: rgb(239, 159, 54);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
}
#afternoon {
    background-color: rgb(244, 148, 135);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
}
#evening {
    background-color: rgb(81, 215, 238);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
}
.button {
    border: 2px solid black;
    padding: 5px 20px;
    background-color: rgb(155, 212, 155);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin: 4px 15px;
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
    width: 100px;
    text-align: center;
}
#morning .completed {
    text-decoration-line: line-through;
}
#afternoon .completed {
    text-decoration-line: line-through;
}
#evening .completed {
    text-decoration-line: line-through;
}
#afternoon .important  {
    color: rgb(224, 25, 25);
    font-weight: bold;
}
#evening .important  {
    color: rgb(224, 25, 25);
    font-weight: bold;
}
.important.completed {
    box-shadow: 0px 0px 5px green, inset 0px 0px 5px green;
    padding: 2px;
}
ul {
    background-color: rgb(255,255, 255, 0.5);
    border-radius: 15px;
    padding: 20px 40px;
}
.button.completed {
    border: 2px solid green;
    background-color: rgb(202, 247, 202);
    text-decoration: none;
    color: green;
    font-weight: bold;
    display: inline-block;
    opacity: 50%;
}
