* {
    box-sizing: border-box;
}

body {
    
    font-family: sans-serif;
    background-image: 
        linear-gradient(150deg,rgb(239, 239, 209),rgb(3, 53, 106));
}
.blog {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(238, 238, 191);
    padding: 20px;
    background-color: #0a3d66;
    color: rgb(236, 238, 203);
}
.blog img {
    width: 100%;
}
.title {
    display: inline-block;
    width: 70%;
    font-family: "Racing Sans One", sans-serif;
    font-size: 22px;
    
}
.logo {
    float: right;
    font-family: "Stalinist One", sans-serif;
    margin-top: 28px;
    font-size: 10px;
}
span {
    font-size: 35px;
}
.subtitle {
    text-align: center;
}
.bottom .date {
    text-align: right;
}
.mediatext {
    display: inline-block;
    width: 100%;
}
.mediatext .img {
    width: 300px;
    display: inline-block;
}
.mediatext .text {
    display: inline-block;
    width: 330px;
    padding: 10px 25px;
    
}
.author {
    border-bottom: 2px solid rgb(233, 239, 211);
    border-top: 1px solid rgb(233, 239, 211);
    font-size: 12px;
    text-align: right;
    padding: 10px;
}