* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background-color: blue;
    text-align: center;
    padding: 24px;

}
#navbar a {
    color: white;
    padding: 24px;
}
p a {
    color: teal;
}
p.warning {
    background-color: bisque;
}