* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#cta {
    margin: 50px;
}
.button {
    border: 4px solid rgb(255, 0, 0);
    padding: 10px 20px;
    background-image: linear-gradient(to right, rgb(236, 74, 74), rgb(255, 196, 0));
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}
