* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
p {
    border: 5px solid red;
}
 div {
    margin-left: 88px;
    margin-bottom: 48px;
    padding: 40px;
    background-color: bisque;
    border-radius: 24px 24px 0px 24px;
 }
 .chatbox {
    border-radius: 24px 24px 24px 0px;
    background-color: greenyellow;
 }