* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: beige;
}
.row {
    display: inline-block;
}
#img1 {
    border: 15px solid brown;
    background-color: rgb(250, 243, 232);
    padding: 10px;
    margin: 50px;
    display: inline-block;
    box-shadow: inset 2px 3px 10px #000, 5px 7px 10px grey;
}
#img2 {
    border: 15px solid brown;
    background-color: rgb(250, 243, 232);
    padding: 10px;
    margin: 50px;
    display: inline-block;
    transform: rotate(1deg);
    box-shadow: inset 2px 3px 10px #000, 5px 7px 10px grey;
}
#img4 {
    border: 15px solid brown;
    background-color: rgb(250, 243, 232);
    padding: 10px;
    margin: 50px;
    display: inline-block;
    box-shadow: inset 2px 3px 10px #000, 5px 7px 10px grey;
}
p  {
    border: 15px solid brown;
    background-color: rgb(250, 243, 232);
    padding: 10px;
    margin: 50px;
    display: inline-block;
    font-size: 80px;
    text-align: center;
    box-shadow: inset 2px 3px 10px #000, 5px 7px 10px grey;
    transform: rotate(1deg);
}
#img3 {
    border: 15px solid brown;
    background-color: rgb(250, 243, 232);
    padding: 10px;
    margin: 50px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 2px 3px 10px #000, 5px 7px 10px grey;
}