* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/wall.jpg");
}
.row {
    display: inline-block;
}
.img {
    border: 15px solid brown;
    background-color: rgb(250, 243, 232);
    padding: 10px;
    margin: 50px;
    display: inline-block;
    box-shadow: inset 2px 3px 10px #000, 5px 7px 10px;
}
#round {
    border-radius: 50%;
    border: 20px solid brown;
    background-color: rgb(250, 243, 232);
    padding: 10px;
    margin: 50px;
    display: inline-block;
    box-shadow: inset 2px 3px 10px #000, 5px 7px 10px;
}
p  {
    border: 15px solid brown;
    background-color: rgb(250, 243, 232);
    padding: 10px;
    margin: 50px;
    display: inline-block;
    font-size: 80px;
    text-align: center;
    box-shadow: inset 2px 3px 10px #000, 5px 7px 10px;
    transform: rotate(1deg);
}
