* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    h1 {
    color: darkgoldenrod;
    }
    .my-icon {
        font-size: 48px; /* Or use rem, em, % */
      }
      
  
}