/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color: yellow;
    width: 200px;
    height: 200px;
    box-shadow: 4px 2px 10px;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    display: inline-block;
}
.top {
    background-color: transparent;
    width: 200px;
    margin: 3px;
    vertical-align: bottom;
}
.space {
    background-color: transparent;
    width: 200px;
    height: 200px;
    margin: 3px;
    display: inline-block;
}
.pin {
    background-color: blue;
    width: 15px;
    height: 15px;
    margin: 5px 60px;
    border-radius: 50%;
    box-shadow: 2px 1px 8px;

}
#caption {
    display: block;
    text-align: center;
    font-family: sans-serif ;
    font-size: 24px;
    margin-top: 2px;
}
#cat {
    width: 120px;
    
}
#img1 {
    width: 300px;
    box-shadow: 2px 3px 9px;
    display: inline-block;
}
.pic {
    text-align: center;
}
.pink {
    background-color: lightpink;
}
.lightblue {
    background-color: lightskyblue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.deeppink {
    background-color: deeppink;
}
.white {
    background-color: white;
}
.red {
    background-color: salmon;
}