* {
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 500px;
    font-size: 18px;
    font-family: serif;
    h1 {
    color: darkgoldenrod;
    }
    #t1 {
        color: green;
    }
    #p2s1 {
        color: #F711F7;
    }
    #p3s1 {
        color: red;
    }
    #p3s2 {
        color: goldenrod;
    }
    #p3s3 {
        color: blue;
    }
  
}