* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(6, 6, 117);
}
h1 {
    color: rgb(211, 225, 238);
}
h2 {
    color: rgb(211, 231, 248);
}
