* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#single-column {
    width: 90vw;
    margin: 10px auto;
    max-width: 900px;
}
.side-by-side {
    display: flex;
    align-items: center;
    gap: 25px;
    border-top: 2px solid rgb(146, 144, 144);
    border-bottom: 2px solid rgb(146, 144, 144);
    margin-bottom: 100px;
}
.side-by-side .img-container, 
.side-by-side .text-container {
    flex: 1;
}
.side-by-side .img-container img {
    width: 100%;
    margin: 20px;
}
.detail-container {
    display: flex;
    gap: 15px;
}
.detail-container p {
    font-size: 10px;
    letter-spacing: 1px;
}
.maincourse {
    letter-spacing: 2px;
    font-size: 14px;
    display: block;
    margin: 0;
}
.text-container p {
    padding-bottom: 10px;
    margin-top: 0;
}
.side-by-side h2 {
    font-size: 34px;
    font-family: "Bodoni Moda SC", serif;
    margin-top: 1px;
    margin-bottom: 12px;
}

.card-container {
    display: flex;
    text-align: center;
    max-width: 1000px;
    gap: 20px;

}
.card img {
    width: 100%;
}
.three-card {
    text-align: center;
    width: 100%;
    
}
.three-card h1 {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.card {
    flex: 1;
    padding: 5px 20px;
    text-align: center;
    display: block;

}
.card p {
    letter-spacing: 3px;
}
.card a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.side-by-side .text-container {
    margin: 20px;
    line-height: 1.2;
}
.side-by-side a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: black;
    color: white;
}
a:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}
