* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/first.PNG);
}
#single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}
#card-container {
    display: flex;
}
.card {
    border: 5px solid rgb(118, 3, 85);
    margin: 36px 10px;
    padding: 5px 20px;
    text-align: center;
    width: 300px;
    display: block;
    border-radius: 25px;
    box-shadow: 2px 4px 10px;
    background-color: rgb(215, 143, 179);
}
.card h3 {
    margin: 20px;
    font-size: 26px;
}

.button {
    text-decoration: none;
    padding: 15px 10px;
    background-color: rgb(135, 9, 97);
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    border-radius: 20px;
}

img {
    width: 250px;
    display: block;
    text-align: center;
    margin: 20px 10px 20px 10px;
}
.card .par {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 120px;
    width: auto;
    font-size: 14px;
}