* {
    box-sizing: border-box;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-family: serif;
    background-color:ivory;
}
h1 {
    color: chocolate;
    text-align: center;
}
div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.gallery-item {
    margin: 10px;
    border: 1px solid #ccc;
    width: 180px;
}

div.gallery-item:hover {
    border: 1px solid #777;
}

div.gallery-item img {
    width: 100%;
    height: auto;
}

div.gallery-item div.desc {
    padding: 15px;
    text-align: center;
}
#profil {
    clip-path: circle(50%);
}
table {
    font-family: serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: left;

}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}
th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: cente;
    background-color:dimgrey;
    color: white;
}
#title {
    text-align: left;
}
#content {
    background-image: url(../images/background.jpg);
}
      
  
